/* Estilo global para o corpo da página */
body {
    font-family: 'Roboto', sans-serif; /* Aplica a fonte Roboto */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #E0E0E0;
    background-color: #1E1E1E;
}

/* Estilo do cabeçalho (header) */
header {
    text-align: center;
    padding: 2rem;
    background: #1b1be9;
    color: #E0E0E0;
}

/* Estilo da seção "Sobre Mim" e "Portfólio" */
.about, .portfolio {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

/* Estilo do perfil (foto e descrição) */
.profile {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.profile img {
    position: absolute;
    top: 280px;
    left: 145px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #1b1be9;
    object-fit: cover;
    transform: scale(1.2);
}

/* Estilo dos projetos */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

/* Estilo de cada projeto */
.project {
    padding: 1.5rem;
    border: 1px solid #1b1be9;
    border-radius: 50px;
    background-color: #181818;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Estilo do rodapé */
footer {
    text-align: center;
    padding: 1rem;
    background: #2E2E33;
    color: #E0E0E0;
    margin-top: 2rem;
}
